*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;
    background: #e9ebee ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    width: 400px;
    background: #fff;   
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08);
    }
.card p{
    font-size: 14px;
    color:  #1c1e21;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;

}

.card h1{
    font-size: 24px;
    color: #1c1e21;
    font-weight: bold;
    text-align: center;
}
hr{
    border: solid 1px  #e9ebee;
    margin: 20px 0;
}

.name-section {
    justify-content: space-between;
    display: flex;;
    flex: 1;
    margin-bottom: 10px;



}
.name-section input{
    border: 1px solid #e9ebee;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 16px;
    height: 40px;    
    margin-bottom: 15px;
    outline-color:  rgba(0, 0, 0, 0.08);
}
.input-section{
    display: flex;
}
.input-section input{
    width: 100%;
    border: 1px solid #e9ebee;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 16px;    
    justify-content: space-between;
}
.input-section input + input{
    margin: 0 0 0 10px;
}
.contact-section input{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #e9ebee;
    font-size: 16px;
    outline-color:  rgba(0, 0, 0, 0.08);

}
.birthdate-selectors {
    border-radius: 5px;
    font-size: 16px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 24px;
   
}
.birthdate-selectors select {
    width: 32%;
    height: 40px;
    border: 1px solid #e9ebee;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;    
    background-color: #a9a9a921;
    outline-color:  rgba(0, 0, 0, 0.08);
    }
.Genre-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    margin-bottom: 20px;
    
    }
.Genre-section input{
    margin: 0 5px;
   } 
span{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #e9ebee;
    padding: 8px 12px;
    border-radius:  4px;
    flex: 1;
    margin: 0 4px;
}
button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #42b72a;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0;
}
a{
    color: #1877f2;
    text-decoration: none;
}a:hover{
    text-decoration: underline; 
 
}
.terms-section p{
    font-size: 12px;
    color: #777;
    line-height: 1rem;
    text-align: justify;
}
@media (max-width: 768px){
    .card{
        width: 90%;
    }
    .name-section{
        flex-direction: column;
    }
    .name-section input + input{
        margin: 10px 0 0 0;
    }
    .Genre-section{
        flex-direction: column;
        align-items: flex-start;
    }
    .Genre-section span{
        margin: 5px 0;
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }
    .birthdate-selectors{
        flex-direction: column;
        align-items: flex-start;
    }
    .birthdate-selectors select{
        width: 100%;
        margin: 5px 0;
        }
    @media (max-width: 400px){
        .Genre-section span{
            width: 100%;
        }
        
    }
    
    
}